extends layout 


block content 
    h2.text-success our locations 
    ul 
        each location in locations 
            li 
                i.text-info ville  #{location.ville} 
                i.text-info governorat  #{location.governorat} 
                i.text-info village  #{location.village} 