extends layout 

block content 
    form.form-group(action="" method="post")
        label.text-black(for="role") enter role
        input#role(type="text" placeholder="enter-role" name="role")
        input.btn-success(type="submit" value="listing users by role")
    