extends layout 

block content 
    form.form-group(action="" method="post")
        label.text-black(for="phone") entrer numero de telephone
        input#phone(type="text" placeholder="enter-phone-number" name="phone")
        input.btn-success(type="submit" value="search user by phone")
    