<!DOCTYPE html>
<html>
<head>
<title>form.php</title>
<meta charset="UTF-8" />
</head>
<body>
<h1>confirm inscription</h1>

username : <%= username %>
email : <%= email %>
password : <%= password %>
</body>
</html>