<!DOCTYPE html>
<html>
<head>
<title>form1</title>
<meta charset="UTF-8" />
</head>
<body>

<script defer>
function changer_titre(){
let titre = document.getElementsByTagName('h1')[0];
 titre.innerHTML = "nouveau titre";
}

</script>

<h1>hello spa</h1>
<a href="/about">cliquez ici</a>

<section>
    <input type="button" value="click" onclick="changer_titre()" />
</section>
</form>

</body>
</html>